
.feature {
  margin-bottom: 1.5rem;
  text-align: center;
}
.feature h4 {
  margin-top: .75rem;
}
.feature p {
  margin-right: .75rem;
  margin-left: .75rem;
}

.feature img {
  max-width: 100px;
  vertical-align: middle;

}

@media (min-width:768px) {
    .feature .image {
        display: table-cell !important;
        vertical-align: middle;
    }
}

.feature .image {
  display: inline-block;
  width: 300px;
  text-align: center;
  vertical-align: middle;
  height: 160px;
}

.feature .col-sm-6 {
  height: 320px; 
}