<banner>
    <div class="banner-container">
        <div class="jumbotron vertical-center banner-background">
            <div class="container text-center wrapper banner-wrapper">
                <div class="logo">
                    <img class="first" src="{{ site.data.frontpage.banner.logo | prepend: site.baseurl }}" />
                    <img class="second" src="{{ site.data.frontpage.banner.logo_second | prepend: site.baseurl }}" />
                </div>
                <h1 class="banner-title">{{ site.data.frontpage.banner.title }}</h1>
                <p>{{ site.data.frontpage.banner.description }}</p>
                <p>
                    {% for button in site.data.frontpage.banner.buttons %}
                    <a class="btn btn-success btn-lg" href="{% if button.local == false %}{{ site.baseurl }}{% endif %}{{ button.link }}" role="button">
                        <i class="{{ button.icon }}"></i>
                        {{ button.title }}
                    </a>
                    {% endfor %}
                </p>
            </div>
        </div>
    </div>
</banner>